
      <script>
      window.notificationSuccessTemplate = function(message) {
        return `
        <div class="success-notification">
      <div item="message">${message}</div>
    </div>
        `;
      }
      </script>