{% layout 'password' %}
      
  <div class="utility-page-wrap">
    {% form 'storefront_password' %}<div class="utility-page-content w-password-page w-form">
      <div udesly-add-class="utility-page-form w-password-page"></div><img src="https://d3e54v103j8qbb.cloudfront.net/static/password-page-lock.832ca8e2c9.svg" alt="">
        <h2 class="heading-77">{{ 'password.H2_0' | t }}</h2><input type="password" autofocus="true" maxlength="256" name="password" placeholder="Enter your password" class="text-field-2 w-password-page w-input"><input type="submit" value="Submit" data-wait="Please wait..." class="main-button w-password-page w-button">
        
        
        
      
    </div><div class="utility-page-content w-password-page w-form">{% if form.errors %}<div class="w-password-page w-form-fail" style="display: inherit;">
          <div>{% include 'form-errors' %}</div>
        </div>{% endif %}</div>{% endform %}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5eed6d30cb5030b8331a4ef5" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'sampleshopifytemplate-783f9efad63d29184.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}{{ 'option_selection.js' | shopify_asset_url | script_tag }}